.ownerReservations-li p{
  display: block;
}
.ownerReservations-li .item-title{
  color: #333333;
  font-size: 15px;

}
.ownerReservations-li .item-subtitle ,.ownerReservations-li .item-subtitle-2{
  font-size: 14px;
  color: #999999;
  line-height: 18px;
  white-space: pre-wrap;
}


