.group-body{
  margin-top: -20px;
  margin-bottom: -20px;
}
.serviceshop-header{
  margin: 0px;
  padding: 0px;
  height: 200px;
  width: 100%;
  position: relative;
}
.serviceshop-header-img{
  width: 100%;
  position: absolute;
  height: 200px;
  margin: 0px;
  padding: 0px;
  overflow: hidden;

}
.serviceshop-header-imageCount{
  position: absolute;
  color: white;
  font-size: 14px;
  line-height: 14px;
  padding: 5px 10px;
  background-color: rgba(0,0,0,0.7);
  border-radius: 12px;
  top: 20px;
  right: 10px;

}
.serviceshop-header-info{
  width: 100%;
  position: absolute;
  background-color: rgba(0,0,0,0.5);
  margin: 0px;
  height: 55px;
  top: 145px;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}
.serviceshop-header-info1{
  width: 100%;
  display: flex;
  justify-content: space-between;
}
//.serviceshop-header-info p{
//  margin: 0px;
//  color: #ffffff;
//}
.serviceshop-header-info  p{
  margin: 10px;
  color: #ffffff;
  font-size: 13px;
  padding: 0px;
  line-height: 15px;
  height: 15px;
}
.serviceshop-header-info-shopname{
  //width: calc(100% - 30px - 150px);
}
.serviceshop-header-info-count{
  //width: 100px;
}
.serviceshop-header-info-review{
  //width: 100px;

}
.item-title{
  font-size: 15px;
  color: #999999;
}
.item-subtitle{
  font-size: 14px;
  color: #333333;
}
.list-icon{
  width: 17px;
  height: 17px;
  padding: 0px;
  margin: 0px;
}
.serviceShop-star div{
  width: 72px;
  display: block;
  float: right;
  margin-top: 4.5px;
  margin-right: -5px;
}
.serviceShop-star p{
  display: block;
  margin: 0px;
  float: right;
  color: #ff9900;
  font-size: 14px;

}
.serviceShop-serviceFacility{
  margin-top: 10px;
  float: left;
}
.serviceShop-serviceFacility img{
  padding: 0px;
  width: 15px;
  height: 15px;
  float: left;
  display: block;
  margin: 0px;

}
.serviceShop-serviceFacility p{
  font-size: 10px;
  display: block;
  float: left;
  margin: 0px 10px 0px 5px;

}
.serviceshop-header-insurance{
  display: flex;
  border: 1px solid rgb(103,199,25);
  height: 15px;
  overflow: hidden;
  border-radius: 3px;
}
.serviceshop-header-insurance > img
{
  width: 15px;
  height: 15px;
  margin: -0.65px 2px auto -0.2px;
  padding: 0px;
}
.serviceshop-header-insurance p{
  margin: 0px;
  padding-right: 2px;
  line-height: 15px;
  margin-top: -1px;
}
.serviceshop-header-info2{
  display: flex;
  justify-content: space-between;
  margin-top: -10px;
}
.serviceshop-header-info2 > div{
  display: flex;
  width: 200px;
  margin: 10px;

}
.serviceshop-header-info2 > div > img{
  width: 39px;
  height: 15px;
}
//.serviceshop-header-info2 > div > p
//{
//  margin: 0px;
//  display: inline;
//  padding: 0px;
//}
