.group-body{
  margin-top: -20px;
}
.group-header{
  background-color: white;
  margin-top: 0px;
}
.shopinfo-p-text{
  font-size: 13px;
  margin: 0px;
}
.shopinfo-p-header{
  font-size: 10px;
  margin: 5px auto;
  color: #999999;
  padding-left: 5px;
  border-left: 2px solid #FF3030;
  height: 12px;
  line-height: 12px;
}
